/README.md
/TODO
/src/Log at 2019-01-27 6-08-23 PM.txt
/src/Log at 2019-01-28 8-06-50 AM.txt
/src/README.md
/src/README.org~
/src/alg.pyc
/src/alg.py~
/src/kscan_correct.py
/src/kscan_correct.py~
/src/mytest.py
/src/mytest.py~
/src/out
