*~
*.pyc
.*
!.editorconfig
!.github/
!.github/workflows/
!.github/workflows/lean.yml
!.gitignore

!/README.md
/TODO
/src/Log at 2019-01-27 6-08-23 PM.txt
/src/Log at 2019-01-28 8-06-50 AM.txt
/src/README.md
/src/kscan_correct.py
/src/mytest.py
/src/out
/src/todo.org
/src/unused.py
/src/out.1
/src/out1
